<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fdzc.hotel.mapper.CheckInMapper">

    <resultMap type="edu.fdzc.hotel.po.CheckIn" id="CheckInMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="roomNumber" column="room_number" jdbcType="VARCHAR"/>
        <result property="roomTypeId" column="room_type_id" jdbcType="INTEGER"/>
        <result property="perCount" column="per_count" jdbcType="INTEGER"/>
        <result property="persons" column="persons" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="checkInTime" column="check_in_time" jdbcType="TIMESTAMP"/>
        <result property="createor" column="createor" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CheckInMap">
        select
          id, menu_name, room_number, room_type_id, per_count, persons, id_card, check_in_time, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.check_in
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CheckInMap">
        select
          id, menu_name, room_number, room_type_id, per_count, persons, id_card, check_in_time, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.check_in
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CheckInMap">
        select
        id, menu_name, room_number, room_type_id, per_count, persons, id_card, check_in_time, createor, create_time,
        updater, update_time, state, remark, deleted
        from hotel_dev.check_in
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuName != null and menuName != ''">
                and menu_name = #{menuName}
            </if>
            <if test="roomNumber != null and roomNumber != ''">
                and room_number = #{roomNumber}
            </if>
            <if test="roomTypeId != null">
                and room_type_id = #{roomTypeId}
            </if>
            <if test="perCount != null">
                and per_count = #{perCount}
            </if>
            <if test="persons != null and persons != ''">
                and persons = #{persons}
            </if>
            <if test="idCard != null and idCard != ''">
                and id_card = #{idCard}
            </if>
            <if test="checkInTime != null">
                and check_in_time = #{checkInTime}
            </if>
            <if test="createor != null">
                and createor = #{createor}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updater != null">
                and updater = #{updater}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.check_in(menu_name, room_number, room_type_id, per_count, persons, id_card, check_in_time, createor, create_time, updater, update_time, state, remark, deleted)
        values (#{menuName}, #{roomNumber}, #{roomTypeId}, #{perCount}, #{persons}, #{idCard}, #{checkInTime}, #{createor}, #{createTime}, #{updater}, #{updateTime}, #{state}, #{remark}, #{deleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.check_in(menu_name, room_number, room_type_id, per_count, persons, id_card, check_in_time,
        createor, create_time, updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.menuName}, #{entity.roomNumber}, #{entity.roomTypeId}, #{entity.perCount}, #{entity.persons},
            #{entity.idCard}, #{entity.checkInTime}, #{entity.createor}, #{entity.createTime}, #{entity.updater},
            #{entity.updateTime}, #{entity.state}, #{entity.remark}, #{entity.deleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.check_in(menu_name, room_number, room_type_id, per_count, persons, id_card, check_in_time,
        createor, create_time, updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.menuName}, #{entity.roomNumber}, #{entity.roomTypeId}, #{entity.perCount}, #{entity.persons},
            #{entity.idCard}, #{entity.checkInTime}, #{entity.createor}, #{entity.createTime}, #{entity.updater},
            #{entity.updateTime}, #{entity.state}, #{entity.remark}, #{entity.deleted})
        </foreach>
        on duplicate key update
        menu_name = values(menu_name) , room_number = values(room_number) , room_type_id = values(room_type_id) ,
        per_count = values(per_count) , persons = values(persons) , id_card = values(id_card) , check_in_time =
        values(check_in_time) , createor = values(createor) , create_time = values(create_time) , updater =
        values(updater) , update_time = values(update_time) , state = values(state) , remark = values(remark) , deleted
        = values(deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hotel_dev.check_in
        <set>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName},
            </if>
            <if test="roomNumber != null and roomNumber != ''">
                room_number = #{roomNumber},
            </if>
            <if test="roomTypeId != null">
                room_type_id = #{roomTypeId},
            </if>
            <if test="perCount != null">
                per_count = #{perCount},
            </if>
            <if test="persons != null and persons != ''">
                persons = #{persons},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="checkInTime != null">
                check_in_time = #{checkInTime},
            </if>
            <if test="createor != null">
                createor = #{createor},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hotel_dev.check_in where id = #{id}
    </delete>

</mapper>

