<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fdzc.hotel.mapper.MenuMapper">

    <resultMap type="edu.fdzc.hotel.po.Menu" id="MenuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="menuSort" column="menu_sort" jdbcType="INTEGER"/>
        <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
        <result property="adminRole" column="admin_role" jdbcType="TINYINT"/>
        <result property="hotelId" column="hotel_id" jdbcType="INTEGER"/>
        <result property="createor" column="createor" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MenuMap">
        select
          id, menu_name, parent_id, menu_sort, menu_type, admin_role, hotel_id, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.menu
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MenuMap">
        select
          id, menu_name, parent_id, menu_sort, menu_type, admin_role, hotel_id, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.menu
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MenuMap">
        select
        id, menu_name, parent_id, menu_sort, menu_type, admin_role, hotel_id, createor, create_time, updater,
        update_time, state, remark, deleted
        from hotel_dev.menu
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuName != null and menuName != ''">
                and menu_name = #{menuName}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="menuSort != null">
                and menu_sort = #{menuSort}
            </if>
            <if test="menuType != null">
                and menu_type = #{menuType}
            </if>
            <if test="adminRole != null">
                and admin_role = #{adminRole}
            </if>
            <if test="hotelId != null">
                and hotel_id = #{hotelId}
            </if>
            <if test="createor != null">
                and createor = #{createor}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updater != null">
                and updater = #{updater}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.menu(menu_name, parent_id, menu_sort, menu_type, admin_role, hotel_id, createor, create_time, updater, update_time, state, remark, deleted)
        values (#{menuName}, #{parentId}, #{menuSort}, #{menuType}, #{adminRole}, #{hotelId}, #{createor}, #{createTime}, #{updater}, #{updateTime}, #{state}, #{remark}, #{deleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.menu(menu_name, parent_id, menu_sort, menu_type, admin_role, hotel_id, createor,
        create_time, updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.menuName}, #{entity.parentId}, #{entity.menuSort}, #{entity.menuType}, #{entity.adminRole},
            #{entity.hotelId}, #{entity.createor}, #{entity.createTime}, #{entity.updater}, #{entity.updateTime},
            #{entity.state}, #{entity.remark}, #{entity.deleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.menu(menu_name, parent_id, menu_sort, menu_type, admin_role, hotel_id, createor,
        create_time, updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.menuName}, #{entity.parentId}, #{entity.menuSort}, #{entity.menuType}, #{entity.adminRole},
            #{entity.hotelId}, #{entity.createor}, #{entity.createTime}, #{entity.updater}, #{entity.updateTime},
            #{entity.state}, #{entity.remark}, #{entity.deleted})
        </foreach>
        on duplicate key update
        menu_name = values(menu_name) , parent_id = values(parent_id) , menu_sort = values(menu_sort) , menu_type =
        values(menu_type) , admin_role = values(admin_role) , hotel_id = values(hotel_id) , createor = values(createor)
        , create_time = values(create_time) , updater = values(updater) , update_time = values(update_time) , state =
        values(state) , remark = values(remark) , deleted = values(deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hotel_dev.menu
        <set>
            <if test="menuName != null and menuName != ''">
                menu_name = #{menuName},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="menuSort != null">
                menu_sort = #{menuSort},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType},
            </if>
            <if test="adminRole != null">
                admin_role = #{adminRole},
            </if>
            <if test="hotelId != null">
                hotel_id = #{hotelId},
            </if>
            <if test="createor != null">
                createor = #{createor},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hotel_dev.menu where id = #{id}
    </delete>

</mapper>

