<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fdzc.hotel.mapper.OrdersMapper">

    <resultMap type="edu.fdzc.hotel.po.Orders" id="OrdersMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="typeId" column="type_id" jdbcType="INTEGER"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="hotelId" column="hotel_id" jdbcType="INTEGER"/>
        <result property="roomTypeId" column="room_type_id" jdbcType="INTEGER"/>
        <result property="roomTypeName" column="room_type_name" jdbcType="VARCHAR"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="numOfRoom" column="num_of_room" jdbcType="INTEGER"/>
        <result property="orderDays" column="order_days" jdbcType="INTEGER"/>
        <result property="orderDate" column="order_date" jdbcType="TIMESTAMP"/>
        <result property="orderState" column="order_state" jdbcType="VARCHAR"/>
        <result property="orderCost" column="order_cost" jdbcType="VARCHAR"/>
        <result property="createor" column="createor" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BYTE"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="OrdersMap">
        select
          id, type_id, type_name, user_id, username, phone, hotel_id, room_type_id, room_type_name, room_id, num_of_room, order_days, order_date, order_state, order_cost, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.orders
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="OrdersMap">
        select
          id, type_id, type_name, user_id, username, phone, hotel_id, room_type_id, room_type_name, room_id, num_of_room, order_days, order_date, order_state, order_cost, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.orders
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="OrdersMap">
        select
        id, type_id, type_name, user_id, username, phone, hotel_id, room_type_id, room_type_name, room_id, num_of_room,
        order_days, order_date, order_state, order_cost, createor, create_time, updater, update_time, state, remark,
        deleted
        from hotel_dev.orders
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="typeName != null and typeName != ''">
                and type_name = #{typeName}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="hotelId != null">
                and hotel_id = #{hotelId}
            </if>
            <if test="roomTypeId != null">
                and room_type_id = #{roomTypeId}
            </if>
            <if test="roomTypeName != null and roomTypeName != ''">
                and room_type_name = #{roomTypeName}
            </if>
            <if test="roomId != null">
                and room_id = #{roomId}
            </if>
            <if test="numOfRoom != null">
                and num_of_room = #{numOfRoom}
            </if>
            <if test="orderDays != null">
                and order_days = #{orderDays}
            </if>
            <if test="orderDate != null">
                and order_date = #{orderDate}
            </if>
            <if test="orderState != null and orderState != ''">
                and order_state = #{orderState}
            </if>
            <if test="orderCost != null">
                and order_cost = #{orderCost}
            </if>
            <if test="createor != null">
                and createor = #{createor}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updater != null">
                and updater = #{updater}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.orders(type_id, type_name, user_id, username, phone, hotel_id, room_type_id, room_type_name, room_id, num_of_room, order_days, order_date, order_state, order_cost, createor, create_time, updater, update_time, state, remark, deleted)
        values (#{typeId}, #{typeName}, #{userId}, #{username}, #{phone}, #{hotelId}, #{roomTypeId}, #{roomTypeName}, #{roomId}, #{numOfRoom}, #{orderDays}, #{orderDate}, #{orderState}, #{orderCost}, #{createor}, #{createTime}, #{updater}, #{updateTime}, #{state}, #{remark}, #{deleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.orders(type_id, type_name, user_id, username, phone, hotel_id, room_type_id,
        room_type_name, room_id, num_of_room, order_days, order_date, order_state, order_cost, createor, create_time,
        updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeId}, #{entity.typeName}, #{entity.userId}, #{entity.username}, #{entity.phone},
            #{entity.hotelId}, #{entity.roomTypeId}, #{entity.roomTypeName}, #{entity.roomId}, #{entity.numOfRoom},
            #{entity.orderDays}, #{entity.orderDate}, #{entity.orderState}, #{entity.orderCost}, #{entity.createor},
            #{entity.createTime}, #{entity.updater}, #{entity.updateTime}, #{entity.state}, #{entity.remark},
            #{entity.deleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.orders(type_id, type_name, user_id, username, phone, hotel_id, room_type_id,
        room_type_name, room_id, num_of_room, order_days, order_date, order_state, order_cost, createor, create_time,
        updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeId}, #{entity.typeName}, #{entity.userId}, #{entity.username}, #{entity.phone},
            #{entity.hotelId}, #{entity.roomTypeId}, #{entity.roomTypeName}, #{entity.roomId}, #{entity.numOfRoom},
            #{entity.orderDays}, #{entity.orderDate}, #{entity.orderState}, #{entity.orderCost}, #{entity.createor},
            #{entity.createTime}, #{entity.updater}, #{entity.updateTime}, #{entity.state}, #{entity.remark},
            #{entity.deleted})
        </foreach>
        on duplicate key update
        type_id = values(type_id) , type_name = values(type_name) , user_id = values(user_id) , username =
        values(username) , phone = values(phone) , hotel_id = values(hotel_id) , room_type_id = values(room_type_id) ,
        room_type_name = values(room_type_name) , room_id = values(room_id) , num_of_room = values(num_of_room) ,
        order_days = values(order_days) , order_date = values(order_date) , order_state = values(order_state) ,
        order_cost = values(order_cost) , createor = values(createor) , create_time = values(create_time) , updater =
        values(updater) , update_time = values(update_time) , state = values(state) , remark = values(remark) , deleted
        = values(deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hotel_dev.orders
        <set>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="hotelId != null">
                hotel_id = #{hotelId},
            </if>
            <if test="roomTypeId != null">
                room_type_id = #{roomTypeId},
            </if>
            <if test="roomTypeName != null and roomTypeName != ''">
                room_type_name = #{roomTypeName},
            </if>
            <if test="roomId != null">
                room_id = #{roomId},
            </if>
            <if test="numOfRoom != null">
                num_of_room = #{numOfRoom},
            </if>
            <if test="orderDays != null">
                order_days = #{orderDays},
            </if>
            <if test="orderDate != null">
                order_date = #{orderDate},
            </if>
            <if test="orderState != null and orderState != ''">
                order_state = #{orderState},
            </if>
            <if test="orderCost != null">
                order_cost = #{orderCost},
            </if>
            <if test="createor != null">
                createor = #{createor},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hotel_dev.orders where id = #{id}
    </delete>

</mapper>

