<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fdzc.hotel.mapper.RoomTypeMapper">

    <resultMap type="edu.fdzc.hotel.po.RoomType" id="RoomTypeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="INTEGER"/>
        <result property="bedNum" column="bed_num" jdbcType="INTEGER"/>
        <result property="bedSize" column="bed_size" jdbcType="INTEGER"/>
        <result property="window" column="window" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="VARCHAR"/>
        <result property="discount" column="discount" jdbcType="VARCHAR"/>
        <result property="createor" column="createor" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="BYTE"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RoomTypeMap">
        select
          id, type_name, area, bed_num, bed_size, window, price, discount, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.room_type
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RoomTypeMap">
        select
          id, type_name, area, bed_num, bed_size, window, price, discount, createor, create_time, updater, update_time, state, remark, deleted
        from hotel_dev.room_type
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="RoomTypeMap">
        select
        id, type_name, area, bed_num, bed_size, window, price, discount, createor, create_time, updater, update_time,
        state, remark, deleted
        from hotel_dev.room_type
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="typeName != null and typeName != ''">
                and type_name = #{typeName}
            </if>
            <if test="area != null">
                and area = #{area}
            </if>
            <if test="bedNum != null">
                and bed_num = #{bedNum}
            </if>
            <if test="bedSize != null">
                and bed_size = #{bedSize}
            </if>
            <if test="window != null and window != ''">
                and window = #{window}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="discount != null">
                and discount = #{discount}
            </if>
            <if test="createor != null">
                and createor = #{createor}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updater != null">
                and updater = #{updater}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.room_type(type_name, area, bed_num, bed_size, window, price, discount, createor, create_time, updater, update_time, state, remark, deleted)
        values (#{typeName}, #{area}, #{bedNum}, #{bedSize}, #{window}, #{price}, #{discount}, #{createor}, #{createTime}, #{updater}, #{updateTime}, #{state}, #{remark}, #{deleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.room_type(type_name, area, bed_num, bed_size, window, price, discount, createor,
        create_time, updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeName}, #{entity.area}, #{entity.bedNum}, #{entity.bedSize}, #{entity.window}, #{entity.price},
            #{entity.discount}, #{entity.createor}, #{entity.createTime}, #{entity.updater}, #{entity.updateTime},
            #{entity.state}, #{entity.remark}, #{entity.deleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into hotel_dev.room_type(type_name, area, bed_num, bed_size, window, price, discount, createor,
        create_time, updater, update_time, state, remark, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.typeName}, #{entity.area}, #{entity.bedNum}, #{entity.bedSize}, #{entity.window}, #{entity.price},
            #{entity.discount}, #{entity.createor}, #{entity.createTime}, #{entity.updater}, #{entity.updateTime},
            #{entity.state}, #{entity.remark}, #{entity.deleted})
        </foreach>
        on duplicate key update
        type_name = values(type_name) , area = values(area) , bed_num = values(bed_num) , bed_size = values(bed_size) ,
        window = values(window) , price = values(price) , discount = values(discount) , createor = values(createor) ,
        create_time = values(create_time) , updater = values(updater) , update_time = values(update_time) , state =
        values(state) , remark = values(remark) , deleted = values(deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hotel_dev.room_type
        <set>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
            <if test="bedNum != null">
                bed_num = #{bedNum},
            </if>
            <if test="bedSize != null">
                bed_size = #{bedSize},
            </if>
            <if test="window != null and window != ''">
                window = #{window},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="createor != null">
                createor = #{createor},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hotel_dev.room_type where id = #{id}
    </delete>

</mapper>

