<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fdzc.hotel.wineshop.mapper.HotelOrdersMapper">

    <resultMap type="HotelOrders" id="HotelOrdersResult">
        <result property="ordersId"    column="orders_id"    />
        <result property="ordersTypeId"    column="orders_type_id"    />
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="phone"    column="phone"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="roomTypeId"    column="room_type_id"    />
        <result property="roomTypeName"    column="room_type_name"    />
        <result property="roomId"    column="room_id"    />
        <result property="number"    column="number"    />
        <result property="numOfRoom"    column="num_of_room"    />
        <result property="orderDays"    column="order_days"    />
        <result property="orderDate"    column="order_date"    />
        <result property="orderState"    column="order_state"    />
        <result property="orderCost"    column="order_cost"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectHotelOrdersVo">
        select orders_id, orders_type_id, user_id, username, phone, hotel_id, room_type_id, room_type_name, room_id, number, num_of_room, order_days, order_date, order_state, order_cost, create_by, create_time, update_by, update_time, status, remark, del_flag from hotel_orders
    </sql>

    <select id="selectHotelOrdersList" parameterType="HotelOrders" resultMap="HotelOrdersResult">
        <include refid="selectHotelOrdersVo"/>
        <where>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="roomTypeName != null  and roomTypeName != ''"> and room_type_name like concat('%', #{roomTypeName}, '%')</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="numOfRoom != null "> and num_of_room = #{numOfRoom}</if>
            <if test="orderDate != null "> and order_date = #{orderDate}</if>
            <if test="orderState != null  and orderState != ''"> and order_state = #{orderState}</if>
        </where>
    </select>

    <select id="selectHotelOrdersById" parameterType="Long" resultMap="HotelOrdersResult">
        <include refid="selectHotelOrdersVo"/>
        where orders_id = #{ordersId}
    </select>

    <insert id="insertHotelOrders" parameterType="HotelOrders">
        insert into hotel_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersId != null">orders_id,</if>
            <if test="ordersTypeId != null">orders_type_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
            <if test="hotelId != null">hotel_id,</if>
            <if test="roomTypeId != null">room_type_id,</if>
            <if test="roomTypeName != null">room_type_name,</if>
            <if test="roomId != null">room_id,</if>
            <if test="number != null">number,</if>
            <if test="numOfRoom != null">num_of_room,</if>
            <if test="orderDays != null">order_days,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="orderState != null">order_state,</if>
            <if test="orderCost != null">order_cost,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersId != null">#{ordersId},</if>
            <if test="ordersTypeId != null">#{ordersTypeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="username != null">#{username},</if>
            <if test="phone != null">#{phone},</if>
            <if test="hotelId != null">#{hotelId},</if>
            <if test="roomTypeId != null">#{roomTypeId},</if>
            <if test="roomTypeName != null">#{roomTypeName},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="number != null">#{number},</if>
            <if test="numOfRoom != null">#{numOfRoom},</if>
            <if test="orderDays != null">#{orderDays},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="orderCost != null">#{orderCost},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateHotelOrders" parameterType="HotelOrders">
        update hotel_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="ordersTypeId != null">orders_type_id = #{ordersTypeId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="hotelId != null">hotel_id = #{hotelId},</if>
            <if test="roomTypeId != null">room_type_id = #{roomTypeId},</if>
            <if test="roomTypeName != null">room_type_name = #{roomTypeName},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="number != null">number = #{number},</if>
            <if test="numOfRoom != null">num_of_room = #{numOfRoom},</if>
            <if test="orderDays != null">order_days = #{orderDays},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orderCost != null">order_cost = #{orderCost},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where orders_id = #{ordersId}
    </update>

    <delete id="deleteHotelOrdersById" parameterType="Long">
        delete from hotel_orders where orders_id = #{ordersId}
    </delete>

    <delete id="deleteHotelOrdersByIds" parameterType="String">
        delete from hotel_orders where orders_id in
        <foreach item="ordersId" collection="array" open="(" separator="," close=")">
            #{ordersId}
        </foreach>
    </delete>

    <select id="getAllOrderByUser" parameterType="Long" resultMap="HotelOrdersResult">
        <include refid="selectHotelOrdersVo"/>
        where user_id = #{userId}
    </select>

    <select id="getEarnMoney" resultType="java.lang.Double">
        SELECT sum(order_cost) money from hotel_orders WHERE order_state = '1' or order_state = '2' or order_state = '3'
    </select>

    <select id="getOrderCount" resultType="Long">
        SELECT count(1) count from hotel_orders;
    </select>
</mapper>